[access]
	inheritFrom = ta
[access "refs/*"]
	owner = group ldap/akraino-gerrit-ta-start-menu-committers
[project]
	description = The installation menu which is used to configure the external IP of the installation controller and starting the installation after the user-config is copied to the installation controller
